

<h1> Introduction</h1>
<div>
The Stroke Drivers Screening Assessment (SDSA) was developed as part
of a research programme on driving skills after stroke (Nouri 1991). In
the development, stroke patients who wished to resume driving were
given a battery of cognitive tests and tested on the road by a professional
driving instructor. Discriminant function analysis was used to identify
those tests that best predicted driving performance on the road (Nouri,
Tinson & Lincoln 1987, Nouri and Lincoln 1992). These tests were
compiled together as the Stroke Drivers Screening Assessment (SDSA).
The predictive value of the SDSA was compared with existing assessment
procedures. The SDSA was significantly better than routine assessments,
involving advice from general practitioners and the DVLA, at identifying
those who were found to be unsafe to drive on the road (Nouri & Lincoln
1993). 
</div>


<button class="btn-round" routerLink="/dot_cancellation"> Begin Assessment </button>

<router-outlet></router-outlet>


<!-- i shouldn't have to reinclude the router -->
