<div class="header">
  <div *ngIf="optionSelected" class="go-back"  (click)=resetSelection()>🏠</div>

  <div class="sdsa">SDSA</div>
</div>

<div class="title"> {{pageTitle}} </div>

<div *ngIf="!authService.VALIDATED">
  <input type="email"  class="search" [(ngModel)]=email placeholder="Please enter your email">
  <input type="password" class="search" [(ngModel)]=password placeholder="Please enter your password">
  <div class="submit" (click)="login()">
    Login
  </div>
</div>

<div *ngIf="!optionSelected && authService.VALIDATED">
  <div (click)=selectInitialisation() class="button"> Initialise Study </div>
  <div (click)=selectViewResults() class="button"> View Results </div>
  <div (click)=selectLocalisationCreator() class="button"> Add Localisation Preset</div>  
</div>

<div *ngIf="initialisationSelected" >
  <app-study-init></app-study-init>
</div>

<div *ngIf="viewResultsSelected" >
  <app-results-viewer></app-results-viewer>
</div>

<div *ngIf="localisationCreatorSelected" >
  <app-localisation-creator></app-localisation-creator>
</div>
<!-- <app-localisation-creator></app-localisation-creator> -->
