div {
    font-family: 'Roboto', sans-serif;
}
div.header{
    width: 100%;
    color: #fff;
    background: #225522;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    min-height: 60px;
}



.sdsa {
    font-size : 2em;
    float: left;
    padding:10px;

}
.go-back {
    margin: 0px;
    transition: background-color 0.2s ease;        
    transition: color 0.2s ease;
    font-size : 2em;
    float: right;
    padding:10px;
    &:hover {
        transition: color 0.2s ease;
        transition: background-color 0.2s ease;        
        background-color: #224422;
    }
}
.title {
    padding: 10px;
    color: #222;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);   
}
.button { 
    padding: 10px;
    color: #222;
    background: #fff;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);   
    transition: background-color 0.2s ease;    
    &:hover {
        transition: background-color 0.2s ease;
        background: #eeffee;
    }
}

div.submit, input.submit {
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: 2px solid #227722;
    background: #fff;
    color: #eee;
    background: #227722;
    transition: 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    &:hover {
        outline: none;
        border: 2px solid #447744;
        background: #447744;
        transition: 0.2s;
    }
    &:active {
        outline: none;
        border: 2px solid #225522;
        background: #225522;
        transition: 0.2s;
    }
}

div.search,
textarea,
input.search {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #225522;
    background: #fff;
    color: #222222;
    transition: 0.2s;
    &:focus {
        outline: none;
        border-bottom: 2px solid #445544;
        transition: 0.2s;
    }
    .icon .bar {
        float: left;
    }
}
