div {
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    padding:10px;
    color: #fff;
    background: #225522;
    display: inline-flex;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);       
}
.go-back {
    margin: 5px;
}
.title {
    margin: 5px;
}
.button { 
    padding: 10px;
    color: #222;
    background: #fff;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);   
    transition: background-color 0.2s ease;    
    &:hover {
        transition: background-color 0.2s ease;
        background: #eeffee;
    }
}