<div id="instructionsdiv" style="text-align:center;">
    <body id="instructions" width="768" height="950" style="border:1px solid #000000;">
        trail making test instructions go here
    </body>
    <button (click)="clickHandler()" type="button" style="text-align:center;">Begin Test</button>
</div>

<canvas id="test1" width="768" height="1024" style="border:1px solid #000000; display: none;"></canvas>
<canvas id="test2" width="768" height="1024" style="border:1px solid #000000; display: none;"></canvas>


<button (click)="sendResults()">OK</button>

