<app-login-screen></app-login-screen>

<div *ngIf="auth.VALIDATED && auth.AUTH_TOKEN != '' && auth.PARTICIPANT_TEST_LOCALE != ''">

  <div>
    Test Instructions
  </div>
  <app-test-instructions></app-test-instructions>
  <br>

  <app-dot-cancellation-test></app-dot-cancellation-test> <br>
  <app-car-directions-test></app-car-directions-test> <br>
  <app-compass-directions-test></app-compass-directions-test> <br>
  <app-road-scenarios-test></app-road-scenarios-test> <br>
  <app-trail-making-test></app-trail-making-test>


</div>
