
<div *ngIf="!testStarted">
    <div class="test-title"> {{ testTitle }} </div>
    <div class="test-instructions"> {{ testInstructions }} </div>
    <button (click)=startTest() class="next-test-btn" id="end_test" *ngIf="!rs.carDirectionsHasResults"> Start Test</button>    
</div>

<canvas id="canvas">
</canvas>

<div *ngIf="testStarted">
    <div *ngIf="!rs.carDirectionsHasResults">
        <br>
        <button (click)="gatherResults();stopTimer();" class="next-test-btn" id="end_test"> Test Finish </button>
    </div>
</div>

<div *ngIf="rs.carDirectionsHasResults">
    <div class="test-instructions">
        This Test has already Been Completed
    </div>
    <a routerLink="/compassDirections"><button class="next-test-btn"> Continue To The Next Test </button></a>
</div>
