<div class="spacer">
 
<div class="cell">
 
  <div id="p2" [style.right.px]="dotOneXValue" [style.top.px]="dotOneYValue" class="dot3">
    {{dotOne}}
  </div>
  <div [style.right.px]="dotTwoXValue" [style.top.px]="dotTwoYValue" class="dot3">
    {{dotTwo}}
  </div>
  <div [style.right.px]="dotThreeXValue" [style.top.px]="dotThreeYValue" class="dot3">
    {{dotThree}}
  </div>
  <div [style.right.px]="dotFourXValue" [style.top.px]="dotFourYValue" class="dot3">
    {{dotFour}}
  </div>
  <div [style.right.px]="dotFiveXValue" [style.top.px]="dotFiveYValue" class="dot3">
    {{dotFive}}
  </div>

</div>
</div>