

.cell {
  
  height: 100%;
  width: 100%;
  font-size: 1.5em; 
  font-family: 'Gochi Hand', sans-serif;
  text-color: black;
  display: flex; 
     
}



.state
{
	position: relative;
}


.cell:hover 
{
	background-color: #c1cdcd;
}


	
	    .dot1 {
position: relative;
        color: red;
	
    }
	
		    .dot2 {
position: relative;
        color: green;
	
    }
			    .dot3 
			{
			color: black;
position: relative;


    }

		    .dot4 {
position: relative;
        color: blue;
	
    }
	
		    .dot5 {
position: relative;
        color: black;
	
    }
	
	
