<div class="cell" >
  <div class="state">
  
  </div>
  
  
  <div id="p2" [style.right.%]="dotOneXValue" [style.top.%]="dotOneYValue" class="dot3">
    {{dotOne}}
  </div>
    <div [style.right.%]="dotTwoXValue" [style.top.%]="dotTwoYValue" class="dot3">
    {{dotTwo}}
  </div>
    <div [style.right.%]="dotThreeXValue" [style.top.%]="dotThreeYValue" class="dot3">
    {{dotThree}}
  </div>
    <div [style.right.%]="dotFourXValue" [style.top.%]="dotFourYValue" class="dot3">
    {{dotFour}}
  </div>
    <div [style.right.%]="dotFiveXValue" [style.top.%]="dotFiveYValue"  class="dot3">
    {{dotFive}}
  </div> 
    
  
  
  </div>
  

