


@mixin flex-grid($cols, $gutter: 0) {
  display: flex;
  flex-wrap: wrap;

  > * {
    // Reset to prevent external styles break the grid.
    margin-left: 0;
    margin-bottom: 0;
    $item-width: calc((100% / #{$cols}) - #{$gutter} + (#{$gutter} / #{$cols}));
    margin-right: $gutter;
    width: $item-width ;
    box-sizing: border-box;

    // We add the gutter for all items except the first row.
    &:nth-child(n+#{$cols + 1}) {
    //  margin-top: $gutter;
    }

    // When we reach the cols per line, the last
    // col item must not have margin right.
    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }

  }
}


//Styling for the Dot cancellation Board
.board
{

 @include flex-grid(25, 0px);

  justify-content: space-between; 
  margin-bottom: 1.5%;    
  
   //align-items: center;
}

//If disabled is true on a button this styling will apply
button:disabled,
button[disabled]
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

//Styling for Test Title
.testTitle {

  border: 0px;
  font-family: 'Roboto', sans-serif;    
  font-size: 1.4em;
  margin: 0px;
  padding: 10px;
  width: 100%;
  text-align: center;

  color: #eee;
  background: #227722;
  outline: none;
  
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);       
  
}
//Styling for instructions Div
.test-instructions
{
  font-family: 'Roboto', sans-serif;    
  font-size: 1.4em;
  outline: none;
  width: 100%;
  text-align: center;
	overflow-x: scroll;
	background-color: #fff;
  color: #070707;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
//Styling for Restart Test button
.restartTest {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 95%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid #227722;
  background: #fff;
  color: #eee;
  background: #227722;
  transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);       
  
  &:hover {
      outline: none;
      border: 2px solid #447744;
      background: #447744;
      transition: 0.2s;
  }
  
  &:active {
      outline: none;
      border: 2px solid #225522;
      background: #225522;
      transition: 0.2s;
  }
}

//Styling for Results Div
.results
{
  font-family: 'Roboto', sans-serif;    
  font-size: 1.4em;
  margin: 0px;
  padding: 5px;
  width: 100%;
  text-align: center;
	overflow-x: scroll;
	background-color: #fff;
  color: #1fa8f2;		
}

//Styling for instructions Div
.instructions
{
  font-family: 'Roboto', sans-serif;    
  font-size: 1.4em;
  width: 100%;
  text-align: center;
	overflow-x: scroll;
	background-color: #fff;
  color: #070707;
}


//Styling for Border of test
.showContainer
{
	//margin: 10px;
	border: 2px solid #000;
	padding: 15px;	
   align-content: center;
    height:100%;
    width:100%;
    
}
	
//Styling to hide the Container
.hideContainer
{
	margin: 0px;
	border: 2px solid #000;
	padding: 5px;		
	height: 0px;
	visibility: collapse;	
}

//The Styling applied when a cell is selected	
.cellSelected
{
 background-color:#93a3bc;
 border-radius: 5px;	  
}



/////////////////////////////////////////
.flex-2-cols {
  @include flex-grid(2, 40px)
}
