
<div *ngIf="!auth.VALIDATED && auth.AUTH_TOKEN == '' && auth.PARTICIPANT_TEST_LOCALE == ''">
  <div class="search">
    <input class="bar search" type="text"  [(ngModel)]=clinicianEmail (submit)=connectToSDSA()  placeholder="Enter your email.">
  </div>
  <div class="search">
    <input class="bar search" type="password"  [(ngModel)]=password  placeholder="Enter your Password">
  </div>
  <div class="search">
    <input class="bar search" type="text"  [(ngModel)]=pt_id  placeholder="Enter a Test ID">
  </div>
  <a routerLink="/home">
    <div class="submit">
      <input class="button submit" type="button" (click)=connectToSDSA() value="login">
    </div>
  </a>
</div>

<div *ngIf="requestingDetails && (!auth.VALIDATED || auth.AUTH_TOKEN == '' || auth.PARTICIPANT_TEST_LOCALE == '') && !(!auth.VALIDATED && auth.AUTH_TOKEN == '' && auth.PARTICIPANT_TEST_LOCALE == '')">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
