.search {
    width: 100%;
    height:10%;
}

// from http://tobiasahlin.com/spinkit/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

//end from

input.submit {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: 2px solid #227722;
    background: #fff;
    color: #eee;
    background: #227722;
    transition: 0.2s;

    &:hover {
        outline: none;
        border: 2px solid #447744;
        background: #447744;
        transition: 0.2s;
    }
    
    &:active {
        outline: none;
        border: 2px solid #225522;
        background: #225522;
        transition: 0.2s;
    }
}

input.search {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #225522;
    background: #fff;
    color: #222222;
    transition: 0.2s;
    &:focus {
        outline: none;
        border-bottom: 2px solid #445544;
        transition: 0.2s;
    }
    .icon .bar {
        float: left;
    }
}