<div>
<!---->
      <div class="gameStatus" >
        
      </div>
	  
	  <div class="container">
      <div class="board" *ngFor="let row of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]">
        <cell [ngClass]="{'style1': squares[col+row*25]=='X' }"  *ngFor="let col of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]"
		
	   
        [state]="squares[col+row*25]"
		
        [dotOne]="dotones[col+row*5]"
		[dotTwo]="dottwos[col+row*5]"
		[dotThree]="dotthrees[col+row*5]"
		[dotFour]="dotfours[col+row*5]"
		[dotFive]="dotfives[col+row*5]"
		
		[dotOneXValue] = "dotoneX[col+row*25]"
		[dotOneYValue] = "dotoneY[col+row*25]"
		
	    [dotTwoXValue] = "dotTwoX[col+row*25]"
		[dotTwoYValue] = "dotTwoY[col+row*25]"
		
		[dotThreeXValue] = "dotThreeX[col+row*25]"
		[dotThreeYValue] = "dotThreeY[col+row*25]"
		
		[dotFourXValue] = "dotFourX[col+row*25]"
		[dotFourYValue] = "dotFourY[col+row*25]"
		
		[dotFiveXValue] = "dotFiveX[col+row*25]"
		[dotFiveYValue] = "dotFiveY[col+row*25]"
		
		
		
				(click)="AddDot(col+row*25)" 
				>
				
				
			
        </cell>
		
      </div>
	  </div>
      <button class="restart" (click)="restartGame()">New Game</button>
    </div>