
//Styling for the Dot cancellation Board
.board
{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;  
  color:#fff;  
  justify-content: space-between;     
}

//If disabled is true on a button this styling will apply
button:disabled,
button[disabled]
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

//Styling for Test Title
.testTitle {
 background-color: #34495e;
  color: #fff;
  border: 0px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

//Styling for Restart Test button
.restartTest {
  background-color: #34495e;
  color: #fff;
  border: 0px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 100%;
}

//Styling for Results Div
.results
{
	font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
  width: 100%;
  text-align: center;
	overflow-x: scroll;
	background-color: #fff;
  color: #1fa8f2;		
}

//Styling for instructions Div
.instructions
{
	font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  width: 100%;
  text-align: center;
	overflow-x: scroll;
	background-color: #fff;
  color: #070707;
}

//Styling for Hovering buttons
.restartTest:hover 
{
  background-color: #1fa8f2;
  cursor: pointer;
}

//Styling for Border of test
.showContainer
{
	margin: 10px;
	border: 2px solid #000;
	padding: 5px;	
}
	
//Styling to hide the Container
.hideContainer
{
	margin: 0px;
	border: 2px solid #000;
	padding: 5px;		
	height: 0px;
	visibility: collapse;	
}

//The Styling applied when a cell is selected	
.cellSelected
{
 background-color:#cd9e98;
 border-radius: 5px;	  
}
